In [ ]:
import osmnx as ox
import geopandas as gpd
import numpy as np
import re
import pandas as pd

place = 'Toronto, Canada'
network = ox.graph_from_place(place, network_type="walk")
gdf_nodes, gdf_edges = ox.graph_to_gdfs(network)

gdf_edges = gdf_edges[gdf_edges["length"] > 0]

gdf_edges["highway"] = gdf_edges["highway"].astype(str)
gdf_edges["name"] = gdf_edges["name"].fillna("unnamed")

gdf_edges["maxspeed_clean"] = (
        gdf_edges["maxspeed"]
        .astype(str)
        .str.extract(r"(\d+)")
        .astype(float)
    )

gdf_edges = gdf_edges[gdf_edges["access"].fillna("public") != "private"]

gdf_edges = gdf_edges.drop(
        columns=[
            "oneway", "lanes", "width", "est_width",
            "bridge", "tunnel", "junction",
            "service", "area"
        ],
        errors="ignore"
    )
gdf_nodes = gdf_nodes.drop(columns=["ref"], errors="ignore")

gdf_nodes["highway"] = gdf_nodes["highway"].apply(
        lambda v: v[0] if isinstance(v, list) else v
    )

gdf_nodes["is_traffic_signal"] = gdf_nodes["highway"] == "traffic_signals"
gdf_nodes["is_crossing"] = gdf_nodes["highway"] == "crossing"

crime_assault = pd.read_csv('../data/raw/Assault_Open_Data_6843660120719629610.csv')
crime_collision = pd.read_csv('../data/raw/Traffic_Collisions_Open_Data_3719442797094142699.csv')
crime_collision.head()

,OBJECTID,EVENT_UNIQUE_ID,OCC_DATE,OCC_MONTH,OCC_DOW,OCC_YEAR,OCC_HOUR,DIVISION,FATALITIES,INJURY_COLLISIONS,...,NEIGHBOURHOOD_158,LONG_WGS84,LAT_WGS84,AUTOMOBILE,MOTORCYCLE,PASSENGER,BICYCLE,PEDESTRIAN,x,y
0,1,GO-20148000028,1/1/2014 5:00:00 AM,January,Wednesday,2014,17,D53,0,NO,...,Mount Pleasant East (99),-79.377616,43.701225,YES,NO,NO,NO,NO,-8.836276e+06,5.419322e+06
1,2,GO-20148004875,1/1/2014 5:00:00 AM,January,Wednesday,2014,14,D32,0,NO,...,Lawrence Park North (105),-79.397589,43.726091,YES,NO,NO,NO,NO,-8.838499e+06,5.423152e+06
2,3,GO-20141260499,1/1/2014 5:00:00 AM,January,Wednesday,2014,2,NSA,0,YES,...,NSA,0.000000,0.000000,YES,NO,NO,NO,NO,6.327780e-09,5.664924e-09
3,4,GO-20141260663,1/1/2014 5:00:00 AM,January,Wednesday,2014,3,NSA,0,NO,...,NSA,0.000000,0.000000,YES,NO,NO,NO,NO,6.327780e-09,5.664924e-09
4,5,GO-20141261162,1/1/2014 5:00:00 AM,January,Wednesday,2014,5,NSA,0,YES,...,NSA,0.000000,0.000000,YES,NO,NO,NO,NO,6.327780e-09,5.664924e-09